@model IEnumerable<Trabalho_Laboratorio.Models.Utilizador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoMorada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoCodigoPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoLocalidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoMorada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoCodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoLocalidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUtilizador">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUtilizador">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUtilizador">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
