@model IQueryable<Trabalho_Laboratorio.Models.Restaurante>

<div class="table-responsive">
	<table class="table v-middle">
		<thead>
			<tr class="bg-light">
				<th class="border-top-0">Nome do Restaurante</th>
				<th class="border-top-0">Telefone</th>
				<th class="border-top-0">Email</th>
				<th class="border-top-0">Detalhes</th>
				<th class="border-top-0">Aceitar Pedido</th>
				<th class="border-top-0">Recusar Pedido</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var restaurante in Model)
			{
				<tr>
					<td>
						<div class="d-flex align-items-center">
							<div class="m-r-10">
								<a class="btn btn-circle d-flex btn-info text-white">EA</a>
							</div>
							<div class="">
								<h4 class="m-b-0 font-16">@restaurante.NomeRestaurante</h4>
							</div>
						</div>
					</td>
					<td>@restaurante.Telefone</td>
					<td>@restaurante.IdRestauranteNavigation.Email</td>
					<td>
						<a asp-controller="Restaurantes" asp-action="Detalhes" class="btn btn-success">Detalhes</a>
					</td>
					<td>
						<form asp-action="AceitarRestaurante" asp-route-id="@restaurante.IdRestaurante" data-ajax="true" data-ajax-method="post"
							  data-ajax-mode="replace" data-ajax-update="#Tabela">
							<img src="/assets/images/yes.png" alt="Aceitar"
								 class=" AcceptImage rounded-circle btn" style="width:64px;" />
							<button type="submit" class="accept" hidden />
						</form>
					</td>

					<td>
						<form asp-action="RecusarRestaurante" asp-route-id="@restaurante.IdRestaurante" data-ajax="true" data-ajax-method="post"
							  data-ajax-mode="replace" data-ajax-update="#Tabela" data-ajax-confirm="Tem a certeza?">
							<img src="/assets/images/rejected.png" alt="Recusar"
								 class=" RejectImage rounded-circle btn" style="width: 64px;" onclick="document.querySelector('#col_@restaurante.IdRestaurante').click()" />
							<button id="col_@restaurante.IdRestaurante" type="submit" class="reject" hidden />
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>