@model Trabalho_Laboratorio.Models.Administrador

<aside class="left-sidebar" style="padding-top:32px !important;" data-sidebarbg="skin6">
	<!-- Sidebar scroll-->
	<div class="scroll-sidebar">
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav">
			<ul id="sidebarnav">
				<!-- User Profile-->
				<li>
					<!-- User Profile-->
					<div class="user-profile d-flex no-block dropdown m-t-20">
						<div class="user-pic">
							<img src="@Model.Foto" alt="users"
								 class="rounded-circle" width="40" />
						</div>
						<div class="user-content hide-menu m-l-10">
							<a href="javascript:void(0)" class="" id="Userdd" role="button"
							   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<h5 class="m-b-0 user-name font-medium">
									@Model.Nome &nbsp; @Model.Apelido <i class="fa fa-angle-down"></i>
								</h5>
								<span class="op-5 user-email">@Model.IdAdminNavigation.Email</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
								<a class="dropdown-item" asp-action="Profile">
									<i class="ti-user m-r-5 m-l-5"></i> O meu Perfil
								</a>

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/IndexAdmin">
									<i class="ti-settings m-r-5 m-l-5"></i> Definições da Conta
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
									<i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
								</a>
							</div>
						</div>
					</div>
					<!-- End User Profile-->
				</li>

				<!-- User Profile-->
				<li class="sidebar-item">
					<a class="sidebar-link waves-effect waves-dark sidebar-link"
					   asp-action="Index" aria-expanded="false">
						<i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link waves-effect waves-dark sidebar-link"
					   asp-action="Profile" aria-expanded="false">
						<i class="mdi mdi-account-network"></i><span class="hide-menu">Perfil</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link waves-effect waves-dark sidebar-link"
					   asp-action="ManageUsers" aria-expanded="false">
						<i class="mdi mdi-border-all"></i><span class="hide-menu">Gerir Clientes</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link waves-effect waves-dark sidebar-link"
					   asp-action="ManageAdmins" aria-expanded="false">
						<i class="mdi mdi-face"></i><span class="hide-menu">Gerir Administradores</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link waves-effect waves-dark sidebar-link"
					   asp-action="CheckNotifications" aria-expanded="false">
						<i class="mdi mdi-file"></i><span class="hide-menu">Notificações</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link waves-effect waves-dark sidebar-link"
					   asp-action="CheckLogs" aria-expanded="false">
						<i class="mdi mdi-alert-outline"></i><span class="hide-menu">Sistema</span>
					</a>
				</li>
			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>