<!DOCTYPE html>

@{
	Layout = null;
}

@{
	ViewData["Title"] = "Index";
}
@model Trabalho_Laboratorio.ViewModel.AdminIndexViewModel
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
	<link href="/dist/css/style.min.css" rel="stylesheet">
	<link href="~/css/toastr.css" rel="stylesheet">
</head>

<body>
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
		 data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
		<!-- ============================================================== -->
		<!-- Topbar header - style you can find in pages.scss -->
		<!-- ============================================================== -->
		@await Html.PartialAsync("_PartialNavbar")

		<!-- ============================================================== -->
		<!-- End Topbar header -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->

		@await Html.PartialAsync("_PartialSidebar", Model.Administrador)

		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper">
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div class="page-breadcrumb">
				<div class="row align-items-center">
					<div class="col-5">
						<h4 class="page-title">Dashboard</h4>
						<div class="d-flex align-items-center">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Sales chart -->
				<!-- ============================================================== -->
				<div class="row">
					
					
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Úlimos Agendamentos</h4>
								<div class="feed-widget">
									<ul class="list-style-none feed-body m-0 p-b-20">
										@foreach (var agendamento in Model.ListaAgendamentos)
										{
											<li class="feed-item">
												<div class="feed-icon bg-info"><i class="far fa-bell"></i></div> O restaurante @agendamento.IdRestauranteNavigation.NomeRestaurante agendou o prato @agendamento.IdPratoNavigation.Nome para a data @agendamento.DataMarcacao <span class="ml-auto font-12 text-muted">@agendamento.DataDoAgendamento.Subtract(@DateTime.Now)</span>
											</li>
										}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- Sales chart -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Table -->
				<!-- ============================================================== -->
				<div class="row">
					<!-- column -->
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<!-- title -->
								<div class="d-md-flex align-items-center">
									<div>
										<h4 class="card-title">Restaurantes</h4>
										<h5 class="card-subtitle">Aprove ou rejeite os seguintes restaurantes</h5>
									</div>
								</div>
								<!-- title -->
							</div>
							<div id="Tabela">
								@await Html.PartialAsync("_PartialRestauranteListing", Model.ListaRestaurantes)
							</div>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- Table -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Recent comment and chats -->
				<!-- ============================================================== -->
				
				<!-- ============================================================== -->
				<!-- Recent comment and chats -->
				<!-- ============================================================== -->
			</div>
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- footer -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Page wrapper  -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-ajax/jquery.unobtrusive-ajax.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="../../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../../dist/js/app-style-switcher.js"></script>
	<!--Wave Effects -->
	<script src="../../dist/js/waves.js"></script>
	<!--Menu sidebar -->
	<script src="../../dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="../../dist/js/custom.js"></script>
	<!--This page JavaScript -->
	<!--chartis chart-->
	<script src="../../assets/libs/chartist/dist/chartist.min.js"></script>
	<script src="../../assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
	<script src="../../dist/js/pages/dashboards/dashboard1.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>

	<script src="~/lib/jquery-ajax/jquery.unobtrusive-ajax.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/toastr.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>