@model Trabalho_Laboratorio.Models.Restaurante

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Restaurante</h4>
	<hr />
	<dl class="row">

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.NomeRestaurante)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.NomeRestaurante)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Telefone)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Telefone)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Foto)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Foto)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StatusRestaurante)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StatusRestaurante)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TipoServico)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TipoServico)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DiaDeDescanso)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DiaDeDescanso)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.IdRestauranteNavigation)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.IdRestauranteNavigation.Email)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.IdRestaurante">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>