@model Trabalho_Laboratorio.Pagination.PaginatedListProducts<AgendarPrato>

<section class="grid">

	@foreach (var item in Model)
	{

		<div class="grid__item">
			<div class="card">
				<img class="card__img" src="@Html.DisplayFor(modelItem => item.FotoExtra)" alt="Foto de Prato não encontrada">
				<div class="card__content">
					<h1 class="card__header">@Html.DisplayFor(modelItem => item.IdPratoNavigation.Nome)</h1>
					<p class="card__text">@item.DescricaoExtra <strong>Por Apenas @Html.DisplayFor(modelItem => item.Preco)€</strong>  </p>
					<a asp-controller="AgendarPratos" asp-action="Detalhes" asp-route-id="@item.IdAgendamento" class="card__btn">Ver mais <span>&rarr;</span></a>
				</div>
			</div>
		</div>

		@*<article class="card card-meal">
				<div class="img-wrap">
					<a asp-controller="AgendarPratos" asp-action="Detalhes" asp-route-id="@item.IdAgendamento">
						<img class="meal-image" src="@Html.DisplayFor(modelItem => item.FotoExtra)">
					</a>
					<div class="ml-2"><span class="h6">@Html.DisplayFor(modelItem => item.IdPratoNavigation.Nome) (@Html.DisplayFor(modelItem => item.IdPratoNavigation.TipoPrato))</span></div>
					<div class="ml-2"><a class="h6" asp-controller="Restaurantes" asp-action="Detalhes" asp-route-id="@item.IdRestaurante">@Html.DisplayFor(modelItem => item.IdRestauranteNavigation.NomeRestaurante)</a></div>
				</div>
				<figcaption class="info-wrap">
					<div class="meal-content"><p>@item.DescricaoExtra</p></div>
					<span class="price-content">@Html.DisplayFor(modelItem => item.Preco)€</span>
				</figcaption>
			</article>*@

	}
</section>