@model Trabalho_Laboratorio.ViewModel.HomePageViewModel
@{
	ViewData["Title"] = "Home Page";
}
<div class="carousel slide" data-ride="carousel">

	@{int i = 0;}

	<div class="carousel-inner">
		@foreach (var informacao in Model.Heroes)
		{

			<div class="carousel-item @(i == 0? "active": "")">
				<img class="d-block img-fluid" src="@informacao.HeroPhoto" alt="First slide">
				<div class="carousel-caption d-none d-md-block">
					<h5>@informacao.Titulo</h5>
					<p>@informacao.Descricao</p>
				</div>
			</div>

			i++;
		}
	</div>
	<ol class="carousel-indicators">
		@for (i = i - 1; i >= 0; i--)
		{
			<li data-target="#carouselExampleIndicators" data-slide-to="i" class="@(i == 0? "active": "")"></li>
		}
	</ol>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="container-fluid ">
	<div class="row">

		<div class="col-md-8 col-sm-12 rounded mt-5 offset-md-1">
			<p class="mt-1 grid-title">RECOMENDADO PARA SI</p>

			@await Html.PartialAsync("_PartialListing", Model.ListaPratos)
		</div>
		<div class="col-xl-2 col-lg-8 col-sm-12 col-md-offset-1 ">
			<p class="mt-3 spotlight-title">DESTAQUES DO DIA</p>
			<div class="spotlight-wrapper rounded mt-5">
				@foreach (var prato_destaque in Model.Destaque)
				{
					<section class="spotlight-card">
						<div class="spotlight-image-container">
							<img src="@prato_destaque.FotoExtra" class="spotlight-image" />
						</div>
						<div class="spotlight-info">
							<a asp-action="Detalhes" asp-controller="AgendarPratos" asp-route-id="@prato_destaque.IdAgendamento"><p class="spotlight-dish-name">@prato_destaque.IdPratoNavigation.Nome</p></a>
							<a asp-action="Detalhes" asp-controller="Restaurantes" asp-route-id="@prato_destaque.IdRestaurante"><p class="spotlight-restaurant">@prato_destaque.IdRestauranteNavigation.NomeRestaurante</p></a>
						</div>
					</section>
					i++;
				}
			</div>
		</div>
	</div>

	@{
		var prevDisabled = !Model.ListaPratos.HasPreviousPage ? "disabled" : "";
		var nextDisabled = !Model.ListaPratos.HasNextPage ? "disabled" : "";
	}
</div>

<div class="row justify-content-center mt-3">
	@*PAGINAÇÃO*@
	<div>
		<ul class="pagination" @prevDisabled ">
			<li class="page-item disabled">
				<a class="page-link" href="#">&laquo;</a>
			</li>
			<li class="page-item active">
				<a class="page-link" href="#">@Model.ListaPratos.PageIndex</a>
			</li>
			<li class="page-item @nextDisabled">
				<a class="page-link" href="#">&raquo;</a>
			</li>
		</ul>
	</div>
</div>

<script>

	function hideOverflow(element) {

		//Calculate lineHeight and maxLineCount for parent's height
		element.style.whiteSpace = 'nowrap';
		var parent = element.parentNode;
		var maxLineCount = Math.floor(parent.clientHeight / element.clientHeight);
		var maxLineHeight = element.clientHeight * maxLineCount;
		element.style.whiteSpace = 'normal';

		//Find and set maxLineHeight by replacing the overflow with an ellipses
		if (element.clientHeight > maxLineHeight) {
			var max = maxLineCount * element.style.lineHeight;
			for (var i = 0; element.clientHeight > maxLineHeight; i++) {
				element.innerHTML = element.textContent.slice(0, -2) + '&hellip;';
				i++;
				if (i === max) break;
			}
		}
	}

	for (var i = 0; i < document.getElementsByClassName("meal-content").length; i++) {
		hideOverflow(document.getElementsByClassName("meal-content")[i].childNodes[0]);

	}
</script>