@{
	ViewData["Title"] = "Search";
}

@model Trabalho_Laboratorio.ViewModel.SearchViewModel

<div class="toast" style="position: absolute; top: 0; right: 0;">
	<div class="toast-header">
		<img src="..." class="rounded mr-2" alt="...">
		<strong id="toast-title" class="mr-auto">Bootstrap</strong>
		<small>Agora</small>
		<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="toast-body">
		Hello, world! This is a toast message.
	</div>
</div>

<div class="container-fluid ">
	<div class="row">
		<div class="col-md-2 offset-md-1 mt-3">
			<h2>Resultados da pesquisa <strong>@Model.Query</strong></h2>
		</div>
	</div>

	@if (Model.Restaurantes.Count != 0)
	{

		<p>@Model.Restaurantes.Count restaurantes encontrados</p>
		<hr />

		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Restaurantes.First().NomeRestaurante)
					</th>

					<th>
						@Html.DisplayNameFor(model => model.Restaurantes.First().Foto)
					</th>

					<th>
						@Html.DisplayNameFor(model => model.Restaurantes.First().TipoServico)
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var restaurante in Model.Restaurantes)
				{
					<tr>
						<td>
							@restaurante.NomeRestaurante
						</td>

						<td>
							<img src="@restaurante.Foto)" />
						</td>
						<td>
							@restaurante.TipoServico
						</td>
					</tr>
				}
			</tbody>
		</table>
	}

	@if (Model.Pratos.Count != 0)
	{
		@if ((string)ViewData["Notificacao_Query"] != "true")
		{
			<div class="row">
				<div class="col-md-6 col-sm-12 offset-md-4">

					<form asp-controller="ClientSettings" asp-action="AddQueryToFavorites" data-ajax="true" data-ajax-method="post" data-ajax-success="AjaxSucess" data-ajax-failure="AjaxError">
						<input hidden type="text" name="query" value="@Model.Query" />
						<button type="submit" class="add-favorite-list">Recebe notificações sobre @Model.Query</button>
					</form>
				</div>
			</div>
		}

		<div class="row">

			<div class="col-md-2 offset-md-1 col-sm-12  mt-5 rounded bg-light">
				<p>Filtros</p>
			</div>

			<div class="col-md-6 col-sm-12 rounded bg-light mt-5 offset-md-1">
				<h2 class="mt-1 text-capitalize">Pratos do dia</h2>

				<p>@Model.Pratos.Count Pratos encontrados</p>
				<hr />

				@await Html.PartialAsync("_PartialListing", Model.Pratos)
			</div>
		</div>
	}
</div>