@model Trabalho_Laboratorio.Models.AgendarPrato

@{
	ViewData["Title"] = "Detalhes";
}

<div class="container container-product-detail mt-4">

	<div class="row">
		<!-- Left Column / Headphones Image -->
		<div class="col-md-6 offset-2">
			<img class="img-fluid" src="@Html.DisplayFor(model => model.FotoExtra)" alt="Image not Loaded" />
		</div>

		<!-- Right Column -->
		<div class="col-md-4 ">

			<!-- Product Description -->
			<div class="product-description">
				<span>Prato</span>
				<h1>@Html.DisplayFor(model => model.IdPratoNavigation.Nome)</h1>
				<p>@Html.DisplayFor(model => model.DescricaoExtra)</p>
			</div>

			<!-- Product Configuration -->
			<div class="product-configuration">

				<!-- Cable Configuration -->
				<div class="cable-config">
					<span>Restaurante</span>

					<div class="cable-choose">
						<a class="btn btn-outline-secondary" asp-controller="Restaurantes" asp-action="Detalhes" asp-route-id="@Model.IdRestaurante">@Html.DisplayFor(model => model.IdRestauranteNavigation.NomeRestaurante)</a>
					</div>

					<a href="#">Quer contactar restaurante?</a>
				</div>
			</div>

			<!-- Product Pricing -->
			<div class="product-price">
				<span>@Html.DisplayFor(model => model.Preco)€</span>
				<a href="#" class="cart-btn">Fazer Reserva</a>
			</div>
		</div>
	</div>
</div>

<div class="row" id="row-notification">
	<div class="col-md-6 col-sm-12 offset-md-4">

		@if (User.IsInRole("Client"))
		{
			@if ((string)ViewData["Notificacao_Prato"] != "true")
			{
				<form asp-controller="ClientSettings" asp-action="AddDishToFavorites" data-ajax="true" data-ajax-method="post" data-ajax-success="sucesso" data-ajax-failure="AjaxError">
					<input hidden type="text" name="id" value="@Model.IdPrato" />
					<button type="submit" class="add-favorite-list">Adicione o prato @Model.IdPratoNavigation.Nome ao seus favoritos</button>
				</form>
			}
		}
	</div>
</div>

@section Scripts{
	<script>
		function sucesso() {
			AjaxSucess();

			// Esconder o Botao
			const btnNoti = document.querySelector("#row-notification");
			btnNoti.style.display = "none";

		}
	</script>

}