@model Trabalho_Laboratorio.Models.AgendarPrato

@{
	ViewData["Title"] = "Details";
}

<div class="container mt-4">
	<h4>Prato</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DescricaoExtra)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DescricaoExtra)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FotoExtra)
		</dt>
		<dd class="col-sm-10">
			<img src="@Html.DisplayFor(model => model.FotoExtra)" alt="Image not Loaded" />
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Preco)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Preco)€
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.IdPratoNavigation.TipoPrato)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.IdPratoNavigation.TipoPrato)
		</dd>
		<dt class="col-sm-2">
			Restaurante
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.IdRestauranteNavigation.NomeRestaurante)
		</dd>
	</dl>
</div>

<div class="row">
	<div class="col-md-6 col-sm-12 offset-md-4">

		@if (ViewData["Notificacao"] != "true")
		{
			<form asp-controller="Home" asp-action="AddDishToFavorites" data-ajax="true" data-ajax-method="post" data-ajax-success="sucesso" data-ajax-failure="Erro">
				<input hidden type="text" name="id" value="@Model.IdPrato" />
				<button type="submit" class="add-favorite-list">Adicione o prato @Model.IdPratoNavigation.Nome ao seus favoritos</button>
			</form>
		}
	</div>
</div>