@model IEnumerable<Trabalho_Laboratorio.Models.AgendarPrato>

@{
	ViewData["Title"] = "Index";
}


<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.DescricaoExtra)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FotoExtra)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Preco)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Destaque)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IdPratoNavigation)
			</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.DescricaoExtra)
				</td>
				<td>
					<img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.FotoExtra)" />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Preco)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Destaque)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IdPratoNavigation.DescricaoDefault)
				</td>

				<td>
					@Html.ActionLink("Detalhes", "Detalhes", new { id = item.IdAgendamento }) |
					<form asp-controller="AgendarPratos" asp-action="ReAdd" asp-route-id="@item.IdAgendamento" data-ajax="true" data-ajax-method="post" data-ajax-success="sucesso" data-ajax-failure="AjaxError">
						<button type="submit" class="btn btn-success">Adicionar este prato para Amanhã </button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts{
	<script>
		function sucesso() {
			AjaxSucess();

			// Esconder o Botao
			const btnNoti = document.querySelector("#row-notification");
			btnNoti.style.display = "none";

		}
	</script>

}